In [144]:
# Read data from file
import pandas as pd
df = pd.read_csv("orders.csv")

In [145]:
print(df.shape)

(9994, 16)

In [146]:
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

**BEFORE DATA CLEANING:**
We should first assess the overall health of the dataset. This includes understanding the dataset size, data types, missing values (nulls), and identifying any unusual or inconsistent text columns.
The .info() - method provides column data types and non-null counts. The .describe() - method generates statistical summaries for numerical columns. The .isnull().sum() - method returns the count of missing values for each column.

In [148]:
#check the null column wise
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   str
 2   Ship Mode         9993 non-null   str
 3   Segment           9994 non-null   str
 4   Country           9994 non-null   str
 5   City              9994 non-null   str
 6   State             9994 non-null   str
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   str
 9   Category          9994 non-null   str
 10  Sub Category      9994 non-null   str
 11  Product Id        9994 non-null   str
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), str(10)
memory usage: 1.2 MB

In [150]:
# To Know no of null values in numeric type do .isnull().sum()
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [151]:
# From above we came to know ship mode column has one missing value
df.isnull().sum().sort_values(ascending=False).head(20)

Ship Mode           1
Order Id            0
Order Date          0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [124]:
df.describe()

,Order Id,Postal Code,cost price,List Price,Quantity,Discount Percent
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,201.189714,229.756854,3.789574,3.484090
std,2885.163629,32063.693350,537.743203,623.245839,2.225110,1.114211
min,1.000000,1040.000000,0.000000,0.000000,1.000000,2.000000
25%,2499.250000,23223.000000,20.000000,20.000000,2.000000,2.000000
50%,4997.500000,56430.500000,50.000000,50.000000,3.000000,3.000000
75%,7495.750000,90008.000000,180.000000,210.000000,5.000000,4.000000
max,9994.000000,99301.000000,18110.000000,22640.000000,14.000000,5.000000

In [125]:
# To get all summary of all columns
df.describe(include='all')

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
count,9994.000000,9994,9993,9994,9994,9994,9994,9994.000000,9994,9994,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000
unique,NaN,730,6,3,1,531,49,NaN,4,3,17,1862,NaN,NaN,NaN,NaN
top,NaN,2023-03-09,Standard Class,Consumer,United States,New York City,California,NaN,West,Office Supplies,Binders,OFF-PA-10001970,NaN,NaN,NaN,NaN
freq,NaN,28,5962,5191,9994,915,2001,NaN,3203,6026,1523,19,NaN,NaN,NaN,NaN
mean,4997.500000,NaN,NaN,NaN,NaN,NaN,NaN,55190.379428,NaN,NaN,NaN,NaN,201.189714,229.756854,3.789574,3.484090
std,2885.163629,NaN,NaN,NaN,NaN,NaN,NaN,32063.693350,NaN,NaN,NaN,NaN,537.743203,623.245839,2.225110,1.114211
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1040.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,2.000000
25%,2499.250000,NaN,NaN,NaN,NaN,NaN,NaN,23223.000000,NaN,NaN,NaN,NaN,20.000000,20.000000,2.000000,2.000000
50%,4997.500000,NaN,NaN,NaN,NaN,NaN,NaN,56430.500000,NaN,NaN,NaN,NaN,50.000000,50.000000,3.000000,3.000000
75%,7495.750000,NaN,NaN,NaN,NaN,NaN,NaN,90008.000000,NaN,NaN,NaN,NaN,180.000000,210.000000,5.000000,4.000000
max,9994.000000,NaN,NaN,NaN,NaN,NaN,NaN,99301.000000,NaN,NaN,NaN,NaN,18110.000000,22640.000000,14.000000,5.000000

In [126]:
# CLEANING THE DATA

In [152]:
# Get unique values among ship mode
df['Ship Mode'].unique()

<StringArray>
[  'Second Class', 'Standard Class',  'Not Available',        'unknown',
    'First Class',              nan,       'Same Day']
Length: 7, dtype: str

In [153]:
# Handle Missing Data or null values('Not Available', 'unknown values as null)
df = pd.read_csv("orders.csv", na_values=['Not Available', 'unknown'])

In [154]:
# Rename columns names and make them all lower case and replace space with underscore
# method 1
df.rename(columns={'City': 'city', 'Ship Mode': 'ship_mode'})

#method 2
df.columns = df.columns.str.lower()

#method 3
df.columns =df.columns.str.replace(" ","_")

In [155]:
# Convert order_date to datetime type
df['order_date'] = pd.to_datetime(df['order_date'], format="%Y-%m-%d")

In [156]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='str')

In [157]:
## Drive new columns(discount, sale price, revenue and profit)

df['discount']=df['list_price']*df['discount_percent']*.01
df['sales_price']= df['list_price']-df['discount']
df['revenue']= df['sales_price']*df['quantity']
df['profit']= df['sales_price']-df['cost_price']
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,revenue,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,509.6,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,2124.3,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,19.0,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,4704.0,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,38.0,-1.0

In [158]:
## DATA CLEANING: FIRST, I'll address the Missing value in the 'Ship Mode' column by filling it with the most frequent value. Then, I'll remove any duplicate records from the dataset. Afterwards, I'll display the DataFrame's information and null value counts to show the impact of the cleaning steps.

In [159]:
# Fill missing 'ship_mode' values with the mode (most frequent value)
df['ship_mode'] = df['ship_mode'].fillna(df['ship_mode'].mode()[0])

In [160]:
# Remove any duplicate records from the dataset
df.drop_duplicates(inplace=True)

In [161]:
##check the null column wise
#df.info()
#df.isnull().sum()

In [162]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9994 non-null   int64
 1   order_date        9994 non-null   datetime64[us]
 2   ship_mode         9994 non-null   str
 3   segment           9994 non-null   str
 4   country           9994 non-null   str
 5   city              9994 non-null   str
 6   state             9994 non-null   str
 7   postal_code       9994 non-null   int64
 8   region            9994 non-null   str
 9   category          9994 non-null   str
 10  sub_category      9994 non-null   str
 11  product_id        9994 non-null   str
 12  cost_price        9994 non-null   int64
 13  list_price        9994 non-null   int64
 14  quantity          9994 non-null   int64
 15  discount_percent  9994 non-null   int64
 16  discount          9994 non-null   float64
 17  sales_price       9994 non-null   float64
 18  revenue           9994 non-null   float64
 19  profit            9994 non-null   float64
dtypes: datetime64[us](1), float64(4), int64(6), str(9)
memory usage: 1.5 MB

In [163]:
# To Know no of null values in numeric type do .isnull().sum()
df.isnull().sum()

order_id            0
order_date          0
ship_mode           0
segment             0
country             0
city                0
state               0
postal_code         0
region              0
category            0
sub_category        0
product_id          0
cost_price          0
list_price          0
quantity            0
discount_percent    0
discount            0
sales_price         0
revenue             0
profit              0
dtype: int64

In [164]:
#check the data type
df.dtypes

order_id                     int64
order_date          datetime64[us]
ship_mode                      str
segment                        str
country                        str
city                           str
state                          str
postal_code                  int64
region                         str
category                       str
sub_category                   str
product_id                     str
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sales_price                float64
revenue                    float64
profit                     float64
dtype: object

In [165]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,revenue,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,509.6,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,2124.3,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,19.0,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,4704.0,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,38.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,86.4,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,172.8,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,509.6,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,116.4,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,465.6,22.8

In [167]:
import pandas as pd
import sqlalchemy as sa
from urllib.parse import quote_plus

# 1. Connection Setup
params = quote_plus(
    r"DRIVER={ODBC Driver 17 for SQL Server};"
    r"SERVER=localhost\SQLEXPRESS;"
    "DATABASE=Sales;"
    "Trusted_Connection=yes;"
)
engine = sa.create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

try:
    # 2. Load Data
    df = pd.read_csv("orders.csv")

    # 3. Clean existing column names first (replaces spaces with underscores)
    df.columns = [c.lower().replace(' ', '_') for c in df.columns]

    # 4. DRIVE NEW COLUMNS (Calculations)
    df['discount'] = df['list_price'] * df['discount_percent'] * 0.01
    df['sales_price'] = df['list_price'] - df['discount']
    df['revenue'] = df['sales_price'] * df['quantity']
    df['profit'] = df['sales_price'] - df['cost_price']

    # 5. Load to SQL
    # 'replace' will now create a table schema that includes these 4 new columns
    df.to_sql('orders', con=engine, if_exists='replace', index=False, chunksize=50)
    
    print("Success! Data loaded with 4 new calculated columns.")
    print(f"Total columns now: {len(df.columns)}")

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    engine.dispose()

c:\Users\aswe2\AppData\Local\Programs\Python\Python314\Lib\site-packages\pandas\io\sql.py:1649: SAWarning: Unrecognized server version info '17.0.1000.7'.  Some SQL Server features may not function properly.
  con = self.exit_stack.enter_context(con.connect())

Success! Data loaded with 4 new calculated columns.
Total columns now: 20

In [170]:
import pandas as pd
import sqlalchemy as sa
from urllib.parse import quote_plus

# 1. Connection
params = quote_plus(r"DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost\SQLEXPRESS;DATABASE=Sales;Trusted_Connection=yes;")
engine = sa.create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

try:
    df = pd.read_csv("orders.csv")
    df.columns = [c.lower().replace(' ', '_') for c in df.columns]
    
    # 2. Prep and Round
    df['discount'] = (df['list_price'] * df['discount_percent'] * 0.01).round(2)
    df['sale_price'] = (df['list_price'] - df['discount']).round(2)
    df['revenue'] = (df['sale_price'] * df['quantity']).round(2)
    df['profit'] = (df['sale_price'] - df['cost_price']).round(2)

    create_table_sql = """
    IF OBJECT_ID('orders', 'U') IS NOT NULL DROP TABLE orders;
    CREATE TABLE orders (
        [order_id] int primary key, [order_date] date, [ship_mode] varchar (20),
        [segment] varchar (20), [country] varchar (20), [city] varchar (20),
        [state] varchar (20), [postal_code] varchar (20), [region] varchar (20),
        [category] varchar (20), [sub_category] varchar (20), [product_id] varchar (50),
        [cost_price] int, [list_price] int, [quantity] int, [discount_percent] int,
        [discount] decimal (20,2), [sale_price] decimal (20,2), [revenue] decimal (20,2), [profit] decimal (20, 2)
    );
    """

    # 3. Use the connection inside the block
    with engine.begin() as conn:
        print("Creating table...")
        conn.execute(sa.text(create_table_sql))
        
        print("Inserting data...")
        df.to_sql('orders', con=conn, if_exists='append', index=False)
        
    print("ðŸš€ Done! Connection closed automatically after success.")

except Exception as e:
    print(f"âŒ Error: {e}")

c:\Users\aswe2\AppData\Local\Programs\Python\Python314\Lib\contextlib.py:141: SAWarning: Unrecognized server version info '17.0.1000.7'.  Some SQL Server features may not function properly.
  return next(self.gen)

Creating table...
Inserting data...
ðŸš€ Done! Connection closed automatically after success.